<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ase.eu.aslapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".afterLogActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".CreateaccountActivity" />
        <activity android:name=".TranslateActivity1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".afterLogActivity" />
            />
        </activity>
        <activity android:name=".LearnActivity1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".afterLogActivity" />
            />
        </activity>
        <activity
            android:name=".activitatiCategorii.AlphabetActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.NumbersActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity android:name=".SettingsAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".afterLogActivity" />
            />
        </activity>
        <activity
            android:name=".activitatiCategorii.CuloriActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.FamilyActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.FruitsActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.VegetablesActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity android:name=".AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".afterLogActivity" />
            />
        </activity>
        <activity
            android:name=".activitatiCategorii.EmotiiActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.BauturiActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.MancareActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.OraseActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.LocuriActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity
            android:name=".activitatiCategorii.AnimaleActivity"
            android:parentActivityName=".LearnActivity1" />
        <activity android:name=".GamesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".afterLogActivity" />
            />
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:parentActivityName=".LoginActivity"
            android:taskAffinity="" />

        <receiver
            android:name=".clase.AlarmReceiver1"
            android:enabled="true"
            android:process=":remote" />

        <service android:name=".clase.AlarmService1" />

        <activity
            android:name=".QuizCategoryActivity"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name=".QuizAvansatActivity"
            android:parentActivityName=".GamesActivity" />
    </application>

</manifest>